# .travis.yaml

language: python

sudo: true

env:
  - LUA_VERSION="5.1" KONG_VERSION="1.5.0-0" LUA_RESTY_OPENIDC_VERSION="1.7.2-1"

script:
  - sudo -E bash ci/root.sh
  - . ci/setup.sh
  - . ci/run.sh

after_success:
  - luarocks install luacov-coveralls
  - luacov-coveralls
